{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="columns is-mobile">
    <div class="column"></div>
    <div class="column">
        <div class="title">
            Enter the job title you want
        </div>
<form action="#" method="post" class="box">
    <div class="field">
        <label class="label">Job title</label>
        <p  class=""><input type="text" name="nm" class="input is-primary is large" /></p>
        <br>
	    <p><input type="submit" value="submit" class="button is-primary is-large"/></p>
    </div>
	</div>
    <div class="column">
            
    </div>
</form>
{% endblock %}
