{% extends "base.html"%}
{% block title %} Can I {% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="columns">
  <div class="column">
    <section class="section">
      <div class="container ">
        <h1 class="title is-size-1">
          Can I?
        </h1>
        <br>
        <p class="subtitle is-size-2">
          Can I? , is a free motivational website <br>
          for any one that needs  <br>
           <strong>job motivation!</strong>
        </p>
        <a href="/jobs" ><button class="button is-primary is-large" > Get Started  <i class="fa-solid fa-arrow-right-long"> </i></button></a>
        <br>
        <br>
       <a href="https://github.com/dfodeker/can-i-get-this-job"> 
        <span class="icon-text  has-text-black is-large">
          <span class="icon">
            <i class="fa-brands fa-github-alt"></i>
          </span>
          <span>Star</span>
        </span>
       </a>
        
        <a href="twitter.com">
        <span class="icon-text  has-text-info is-large">
          <span class="icon">
            <i class="fa-brands fa-twitter"></i>
          </span>
          <span>Twitter</span>
        </span>
      </a>
      </div>
    </section>
  </div>
  <div class="column">
    <div class="container">
      <br>
      <br>
      <br>
      </div>
  </div>
</div>

{% endblock %}
