{% extends "base.html"%}
{% block title %} 你可以 {% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="columns">
  <div class="column">
    <section class="section">
      <div class="container ">
        <h1 class="title is-size-1">
          我可以吗?
        </h1>
        <br>
        <p class="subtitle is-size-2">
          我可以吗? , 这是一个励志网站 <br>
          为任何需要 <br>
           <strong>灵感的人提供。</strong>
        </p>
        <a href="/jobs" ><button class="button is-primary is-large" > 开始  <i class="fa-solid fa-arrow-right-long"> </i></button></a>
        <br>
        <br>
       <a href="https://github.com/dfodeker/can-i-get-this-job"> 
        <span class="icon-text  has-text-black is-large">
          <span class="icon">
            <i class="fa-brands fa-github-alt"></i>
          </span>
          <span>书签在 github</span>
        </span>
       </a>
        
        <a href="twitter.com">
        <span class="icon-text  has-text-info is-large">
          <span class="icon">
            <i class="fa-brands fa-twitter"></i>
          </span>
          <span>推特</span>
        </span>
      </a>
      <a href="https://weibo.com/login.php">
        <span class="icon-text  has-text-danger is-large">
          <span class="icon">
            <i class="fa-brands fa-weibo"></i>
          </span>
          <span>微博登录</span>
        </span>
      </a>
      </div>
    </section>
  </div>
  <div class="column">
    <div class="container">
      <br>
      <br>
      <br>
      </div>
  </div>
</div>

{% endblock %}
